
body{
background-color:black;
}

#mike{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: green;
    -webkit-mask-size: 100px 100px;
    -webkit-transform: translate(0px, 100px);
    -webkit-mask-image: url(../images/wajoski.png);
    -webkit-animation:anim 3s infinite;
}
#stage {
    position: relative; 
    margin: auto;
    width: 400px;
    height: 300px;
    -webkit-perspective: 300px center center;
}
#scene {
    position: absolute;
    width: 400px;
    height: 300px;
    -webkit-transform-style: preserve-3d;
}

#floor {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color:#0d54b5;
    -webkit-transform: translate(0px, 100px) rotateX(90deg);
    font-size: 100px;
    text-align: center;
    line-height: 200px;
}

#back {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color:#1489d3;
    -webkit-transform: translate3d(0px, 0px, -100px);
    color:white;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
}
@-webkit-keyframes anim {
    0% {
        -webkit-transform: translate(0px, 100px);
        background-color: white;
    }
    25% {
        -webkit-transform: translate(150px, 100px);
    }
    50% {
        -webkit-transform: translate(150px, 0px) rotateY(180deg);
        background-color: blue;
    }
    100% {
        -webkit-transform: translate(300px, 100px);
    }
}